* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    max-width: 100%;
    text-align: center;
}

header {
    /* max-width: 320px; */
    margin: 0 auto;
    height: 2.5em;
    color: white;
    background-color: black;
}

header h3 {
    padding-top: .5em;
}

section {
    max-width: 320px;
    margin: 2em auto;
    padding-bottom: 1.5em;
    border-bottom: 6px double black;
}

p {
    color: rgb(161, 158, 158);
    font-weight: 100;
}

fieldset {
    border: none;
    margin: 0 auto;
    max-width: 320px;
}

legend {
    text-align: left;
}

/* input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"], */
input,
textarea,
select {
  border: none;
  font-size: 1em;
  height: 2em;
  margin: 0;
  width: 100%;
  background-color: lightgrey;
  margin-bottom: 1em;
}

legend {
    font-weight: bold;
    margin-bottom: 1em;
}

p {

}

label {
    display: block;
    margin: 0;
    text-align: left;
    font-size: .75em;
    font-weight: 100;
}

input[type="number"] {
    width: 50%;
    margin-right: 50%;
}

#first-fieldset {
    border-bottom: 2px solid;
}

#second-fieldset {
    margin-top: 2em;
}